In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns

In [2]:
charges_data = pd.read_csv("charges_data.csv").copy()
personal_data = pd.read_csv("personal_data.csv").copy()
plan_data = pd.read_csv("plan_data.csv").copy()

In [3]:
charges_data.isnull().sum()

customerID            0
tenure                0
contract              0
paperlessBilling      0
paymentMethod         0
monthlyCharges      455
totalCharges        455
churn                 0
dtype: int64

In [4]:
char = charges_data[~((charges_data['monthlyCharges'] < charges_data['monthlyCharges'] * .1) &\
(charges_data['monthlyCharges'] > charges_data['monthlyCharges'] * .9))]

In [5]:
monthly_charges_mean = round(char['monthlyCharges'].mean())

In [6]:
monthly_charges_mean = int(monthly_charges_mean)
monthly_charges_mean

65

In [7]:
charges_data.monthlyCharges = charges_data.monthlyCharges.fillna(monthly_charges_mean)

In [8]:
charges_data.monthlyCharges.isnull().sum()

0

In [9]:
charges_data.totalCharges.isnull().sum()

455

In [10]:
charges_data.totalCharges.fillna(charges_data.monthlyCharges * charges_data.tenure)

0         29.85
1       1889.50
2        108.15
3       1840.75
4        151.65
         ...
7027    1990.50
7028    4680.00
7029     346.45
7030     306.60
7031    6844.50
Name: totalCharges, Length: 7032, dtype: float64

In [11]:
charges_data.totalCharges = charges_data.totalCharges.fillna(charges_data.monthlyCharges * charges_data.tenure)

In [12]:
charges_data.isnull().sum()

customerID          0
tenure              0
contract            0
paperlessBilling    0
paymentMethod       0
monthlyCharges      0
totalCharges        0
churn               0
dtype: int64

In [13]:
def tenureBinned(a):
    if a > 0 and a <= 24:
        return "group1"
    elif a > 24 and a <= 48:
        return "group2"
    elif a > 48 and a <= 60:
        return "group3"
    elif a > 60:
        return "group4"

In [14]:
charges_data['tenureBinned'] = charges_data.tenure.apply(tenureBinned)

In [15]:
charges_data

,customerID,tenure,contract,paperlessBilling,paymentMethod,monthlyCharges,totalCharges,churn,tenureBinned
0,7590-VHVEG,1,Month-to-month,Yes,Electronic check,29.85,29.85,No,group1
1,5575-GNVDE,34,One year,No,Mailed check,56.95,1889.50,No,group2
2,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,group1
3,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,1840.75,No,group2
4,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,group1
...,...,...,...,...,...,...,...,...,...
7027,6840-RESVB,24,One year,Yes,Mailed check,84.80,1990.50,No,group1
7028,2234-XADUH,72,One year,Yes,Credit card (automatic),65.00,4680.00,No,group4
7029,4801-JZAZL,11,Month-to-month,Yes,Electronic check,29.60,346.45,No,group1
7030,8361-LTMKD,4,Month-to-month,Yes,Mailed check,74.40,306.60,Yes,group1
7031,3186-AJIEK,66,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No,group4

In [16]:
charges_data_updated = charges_data.copy()

In [17]:
round(charges_data_updated.churn.value_counts(normalize=True), 2) * 100

No     73.0
Yes    27.0
Name: churn, dtype: float64

In [18]:
churn_pct = (round(charges_data_updated.churn.value_counts(normalize=True), 2) * 100).astype(int)

In [19]:
churn_pct

No     73
Yes    27
Name: churn, dtype: int32

In [20]:
charges_data_updated.columns, personal_data.columns

(Index(['customerID', 'tenure', 'contract', 'paperlessBilling', 'paymentMethod',
        'monthlyCharges', 'totalCharges', 'churn', 'tenureBinned'],
       dtype='object'),
 Index(['customerID', 'gender', 'partner', 'dependents', 'age'], dtype='object'))

In [21]:
pd.merge(charges_data_updated, personal_data, how = 'inner', on = 'customerID')

,customerID,tenure,contract,paperlessBilling,paymentMethod,monthlyCharges,totalCharges,churn,tenureBinned,gender,partner,dependents,age
0,5575-GNVDE,34,One year,No,Mailed check,56.95,1889.50,No,group2,Male,No,No,41
1,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,group1,Male,No,No,58
2,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,1840.75,No,group2,Male,No,No,61
3,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,group1,Female,No,No,66
4,9305-CDSKC,8,Month-to-month,Yes,Electronic check,99.65,820.50,Yes,group1,Female,No,No,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5271,8456-QDAVC,19,Month-to-month,Yes,Bank transfer (automatic),78.70,1495.10,No,group1,Male,No,No,24
5272,2569-WGERO,72,Two year,Yes,Bank transfer (automatic),21.15,1419.40,No,group4,Female,No,No,33
5273,2234-XADUH,72,One year,Yes,Credit card (automatic),65.00,4680.00,No,group4,Female,Yes,Yes,46
5274,4801-JZAZL,11,Month-to-month,Yes,Electronic check,29.60,346.45,No,group1,Female,Yes,Yes,45
5275,3186-AJIEK,66,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No,group4,Male,No,No,36

In [22]:
char_per = pd.merge(charges_data_updated, personal_data, how = 'inner', on = 'customerID')

In [23]:
pd.merge(char_per, plan_data, how = 'left', on = 'customerID')

,customerID,tenure,contract,paperlessBilling,paymentMethod,monthlyCharges,totalCharges,churn,tenureBinned,gender,...,age,phoneService,multipleLines,internetService,onlineSecurity,onlineBackup,deviceProtection,techSupport,streamingTV,streamingMovies
0,5575-GNVDE,34,One year,No,Mailed check,56.95,1889.50,No,group2,Male,...,41,Yes,No,DSL,Yes,No,Yes,No,No,No
1,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,group1,Male,...,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,1840.75,No,group2,Male,...,61,No,No phone service,DSL,Yes,No,Yes,Yes,No,No
3,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,group1,Female,...,66,Yes,No,Fiber optic,No,No,No,No,No,No
4,9305-CDSKC,8,Month-to-month,Yes,Electronic check,99.65,820.50,Yes,group1,Female,...,87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5271,8456-QDAVC,19,Month-to-month,Yes,Bank transfer (automatic),78.70,1495.10,No,group1,Male,...,24,Yes,No,Fiber optic,No,No,No,No,Yes,No
5272,2569-WGERO,72,Two year,Yes,Bank transfer (automatic),21.15,1419.40,No,group4,Female,...,33,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
5273,2234-XADUH,72,One year,Yes,Credit card (automatic),65.00,4680.00,No,group4,Female,...,46,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes
5274,4801-JZAZL,11,Month-to-month,Yes,Electronic check,29.60,346.45,No,group1,Female,...,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5275,3186-AJIEK,66,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No,group4,Male,...,36,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes

In [24]:
data_merged = pd.merge(char_per, plan_data, how = 'left', on = 'customerID')

In [25]:
data_merged.head(5)

,customerID,tenure,contract,paperlessBilling,paymentMethod,monthlyCharges,totalCharges,churn,tenureBinned,gender,...,age,phoneService,multipleLines,internetService,onlineSecurity,onlineBackup,deviceProtection,techSupport,streamingTV,streamingMovies
0,5575-GNVDE,34,One year,No,Mailed check,56.95,1889.50,No,group2,Male,...,41,Yes,No,DSL,Yes,No,Yes,No,No,No
1,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,group1,Male,...,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,1840.75,No,group2,Male,...,61,No,No phone service,DSL,Yes,No,Yes,Yes,No,No
3,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,group1,Female,...,66,Yes,No,Fiber optic,No,No,No,No,No,No
4,9305-CDSKC,8,Month-to-month,Yes,Electronic check,99.65,820.50,Yes,group1,Female,...,87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
(data_merged[data_merged.age > 60].shape[0] / data_merged.shape[0]) * 100

41.58453373768006

In [27]:
pct_age_above_60 = round((data_merged[data_merged.age > 60].shape[0] / data_merged.shape[0]) * 100)

In [28]:
data_merged['internetService'].value_counts().to_dict()

{'Fiber optic': 1577, 'DSL': 1197, 'No': 763}

In [30]:
internet_service_counts = data_merged['internetService'].value_counts().to_dict()

In [32]:
internet_service_counts

{'Fiber optic': 1577, 'DSL': 1197, 'No': 763}