In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("CarPrice_Assignment.csv")
pd.set_option("display.max_columns", None)

In [3]:
df.shape

(205, 26)

In [4]:
df.sample(5)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
102,103,0,nissan fuga,gas,std,four,wagon,fwd,front,100.4,184.6,66.5,56.1,3296,ohcv,six,181,mpfi,3.43,3.27,9.0,152,5200,17,22,14399.0
94,95,1,nissan leaf,gas,std,two,sedan,fwd,front,94.5,165.3,63.8,54.5,1951,ohc,four,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7299.0
78,79,2,mitsubishi outlander,gas,std,two,hatchback,fwd,front,93.7,157.3,64.4,50.8,2004,ohc,four,92,2bbl,2.97,3.23,9.4,68,5500,31,38,6669.0
72,73,3,buick skylark,gas,std,two,convertible,rwd,front,96.6,180.3,70.5,50.8,3685,ohcv,eight,234,mpfi,3.46,3.10,8.3,155,4750,16,18,35056.0
5,6,2,audi fox,gas,std,two,sedan,fwd,front,99.8,177.3,66.3,53.1,2507,ohc,five,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250.0

In [5]:
df.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
car_ID,205.0,103.000000,59.322565,1.00,52.00,103.00,154.00,205.00
symboling,205.0,0.834146,1.245307,-2.00,0.00,1.00,2.00,3.00
wheelbase,205.0,98.756585,6.021776,86.60,94.50,97.00,102.40,120.90
carlength,205.0,174.049268,12.337289,141.10,166.30,173.20,183.10,208.10
carwidth,205.0,65.907805,2.145204,60.30,64.10,65.50,66.90,72.30
carheight,205.0,53.724878,2.443522,47.80,52.00,54.10,55.50,59.80
curbweight,205.0,2555.565854,520.680204,1488.00,2145.00,2414.00,2935.00,4066.00
enginesize,205.0,126.907317,41.642693,61.00,97.00,120.00,141.00,326.00
boreratio,205.0,3.329756,0.270844,2.54,3.15,3.31,3.58,3.94
stroke,205.0,3.255415,0.313597,2.07,3.11,3.29,3.41,4.17
compressionratio,205.0,10.142537,3.972040,7.00,8.60,9.00,9.40,23.00
horsepower,205.0,104.117073,39.544167,48.00,70.00,95.00,116.00,288.00
peakrpm,205.0,5125.121951,476.985643,4150.00,4800.00,5200.00,5500.00,6600.00
citympg,205.0,25.219512,6.542142,13.00,19.00,24.00,30.00,49.00
highwaympg,205.0,30.751220,6.886443,16.00,25.00,30.00,34.00,54.00
price,205.0,13276.710571,7988.852332,5118.00,7788.00,10295.00,16503.00,45400.00

In [7]:
df.CarName.value_counts()

toyota corolla           6
toyota corona            6
peugeot 504              6
subaru dl                4
mazda 626                3
                        ..
mitsubishi pajero        1
buick century            1
volvo diesel             1
bmw x1                   1
chevrolet monte carlo    1
Name: CarName, Length: 147, dtype: int64

In [8]:
df.drop(columns="car_ID", inplace=True)

In [9]:
df.sample(5)

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
112,0,peugeot 604sl,diesel,turbo,four,sedan,rwd,front,107.9,186.7,68.4,56.7,3252,l,four,152,idi,3.70,3.52,21.0,95,4150,28,33,16900.0
49,0,jaguar xk,gas,std,two,sedan,rwd,front,102.0,191.7,70.6,47.8,3950,ohcv,twelve,326,mpfi,3.54,2.76,11.5,262,5000,13,17,36000.0
67,-1,buick electra 225 custom,diesel,turbo,four,sedan,rwd,front,110.0,190.9,70.3,56.5,3515,ohc,five,183,idi,3.58,3.64,21.5,123,4350,22,25,25552.0
181,-1,toyouta tercel,gas,std,four,wagon,rwd,front,104.5,187.8,66.5,54.1,3151,dohc,six,161,mpfi,3.27,3.35,9.2,156,5200,19,24,15750.0
118,1,plymouth fury iii,gas,std,two,hatchback,fwd,front,93.7,157.3,63.8,50.8,1918,ohc,four,90,2bbl,2.97,3.23,9.4,68,5500,37,41,5572.0

In [10]:
df["Make"] = df.CarName.str.split(expand=True)[0]
df["Make"]

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Name: Make, Length: 205, dtype: object

In [11]:
df["Model"] = df.CarName.str.split(expand=True)[1]
df["Model"]

0            giulia
1           stelvio
2      Quadrifoglio
3               100
4             100ls
           ...
200            145e
201           144ea
202           244dl
203             246
204           264gl
Name: Model, Length: 205, dtype: object

In [12]:
df["MakeModel"] = df["Make"] + " " + df["Model"]
df["MakeModel"]

0            alfa-romero giulia
1           alfa-romero stelvio
2      alfa-romero Quadrifoglio
3                      audi 100
4                    audi 100ls
                 ...
200                  volvo 145e
201                 volvo 144ea
202                 volvo 244dl
203                   volvo 246
204                 volvo 264gl
Name: MakeModel, Length: 205, dtype: object

In [13]:
df["MakeModel"].value_counts()

toyota corolla      12
toyota corona        9
honda civic          8
peugeot 504          7
mazda glc            7
                    ..
chevrolet impala     1
renault 12tl         1
renault 5            1
mercury cougar       1
volkswagen super     1
Name: MakeModel, Length: 119, dtype: int64

In [14]:
df["Make"].value_counts()

toyota         31
nissan         17
mazda          15
honda          13
mitsubishi     13
subaru         12
peugeot        11
volvo          11
dodge           9
volkswagen      9
bmw             8
buick           8
audi            7
plymouth        7
saab            6
isuzu           4
porsche         4
jaguar          3
alfa-romero     3
chevrolet       3
maxda           2
vw              2
renault         2
toyouta         1
Nissan          1
mercury         1
vokswagen       1
porcshce        1
Name: Make, dtype: int64

In [15]:
df.Make

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Name: Make, Length: 205, dtype: object

In [36]:
df.sample(5)

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,Make
43,0,gas,std,four,sedan,rwd,front,94.3,170.7,61.8,53.5,2337,ohc,four,111,2bbl,3.31,3.23,8.5,78,4800,24,29,6785.0,isuzu
35,0,gas,std,four,sedan,fwd,front,96.5,163.4,64.0,54.5,2010,ohc,four,92,1bbl,2.91,3.41,9.2,76,6000,30,34,7295.0,honda
164,1,gas,std,two,hatchback,rwd,front,94.5,168.7,64.0,52.6,2204,ohc,four,98,2bbl,3.19,3.03,9.0,70,4800,29,34,8238.0,toyota
69,0,diesel,turbo,two,hardtop,rwd,front,106.7,187.5,70.3,54.9,3495,ohc,five,183,idi,3.58,3.64,21.5,123,4350,22,25,28176.0,buick
188,2,gas,std,four,sedan,fwd,front,97.3,171.7,65.5,55.7,2300,ohc,four,109,mpfi,3.19,3.40,10.0,100,5500,26,32,9995.0,volkswagen

In [37]:
df.drop(columns=["Model", "MakeModel", "CarName"], inplace=True)

KeyError: "['Model' 'MakeModel' 'CarName'] not found in axis"

In [ ]:
df.sample(5)

In [ ]:
df.symboling.value_counts()

In [ ]:
df_dummied = pd.get_dummies(df)
df_dummied

In [ ]:
sns.pairplot(df)

In [ ]:
df_dummied.corr().price.sort_values()

In [ ]:
df_dummied

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X = df_dummied.drop(columns="price")
y = df_dummied.price

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    test_size=0.20, 
                                                    random_state=42)

In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Ridge, Lasso, ElasticNet, LinearRegression
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import model_selection
import matplotlib.pyplot as plt
from sklearn.linear_model import RidgeCV, LassoCV,ElasticNetCV

In [ ]:
lin_model = LinearRegression()

lin_model.fit(X_train, y_train)

y_pred = lin_model.predict(X_test)


print("Train Results")
print('rmse:', np.sqrt(mean_squared_error(y_train, lin_model.predict(X_train))))
print('r2: ', r2_score(y_train, lin_model.predict(X_train)))
print()
print("Test Results")
print('rmse:', np.sqrt(mean_squared_error(y_test, lin_model.predict(X_test))))
print('r2: ', r2_score(y_test, lin_model.predict(X_test)))

In [ ]:
ridgecv  = RidgeCV(alphas = 10**np.linspace(10,-2,100)*0.5, scoring = "neg_mean_squared_error", cv = 10, normalize = True)
ridgecv.fit(X_train, y_train)
ridgecv.alpha_
ridge_tuned = Ridge(alpha = ridgecv.alpha_).fit(X_train, y_train)
y_pred = ridge_tuned.predict(X_test)
np.sqrt(mean_squared_error(y_test, y_pred))
print("Optimal lambda: " ,ridgecv.alpha_)
print()
print("Train Results")
print('rmse:', np.sqrt(mean_squared_error(y_train, ridge_tuned.predict(X_train))))
print('r2: ', r2_score(y_train, ridge_tuned.predict(X_train)))
print()
print("Test Results")
print('rmse:', np.sqrt(mean_squared_error(y_test, ridge_tuned.predict(X_test))))
print('r2: ', r2_score(y_test, ridge_tuned.predict(X_test)))

#print('\nKatsayilar:\n')
#print('ß0: ', ridge_tuned.intercept_)
#print()
#print(pd.Series(ridge_tuned.coef_, index = X_train.columns))

In [ ]:
lassocv  = LassoCV(alphas = 10**np.linspace(10,-2,100)*0.5,  max_iter=100000, cv = 10, normalize = True)
lassocv.fit(X_train, y_train)
lassocv.alpha_
print('optimal lambda: ', lassocv.alpha_)
lasso_tuned = Lasso(alpha = lassocv.alpha_).fit(X_train, y_train)
y_pred = lasso_tuned.predict(X_test)
print()
print("Train Results")
print('rmse:', np.sqrt(mean_squared_error(y_train, lasso_tuned.predict(X_train))))
print('r2: ', r2_score(y_train, lasso_tuned.predict(X_train)))
print()
print("Test Results")
print('rmse:', np.sqrt(mean_squared_error(y_test, y_pred)))
print('r2: ', r2_score(y_test, y_pred))
#print('\nKatsayilar:\n')
#print(pd.Series(lasso_tuned.coef_, index = X_train.columns))

In [ ]:
enet_cv  = ElasticNetCV(alphas = 10**np.linspace(10,-2,100)*0.5, l1_ratio=[.1,.2,.3,.5,.7,.8,.9,1], max_iter=100000, cv = 10, normalize = True)
enet_cv.fit(X_train, y_train)
enet_cv.alpha_
print('optimal lambda: ', enet_cv.alpha_)
print("optimal l1_ratio", enet_cv.l1_ratio_)
enet_tuned = ElasticNet(alpha = enet_cv.alpha_, l1_ratio=enet_cv.l1_ratio_).fit(X_train, y_train)
y_pred = enet_tuned.predict(X_test)
print()
print("Train Results")
print('rmse:', np.sqrt(mean_squared_error(y_train, enet_cv.predict(X_train))))
print('r2: ', r2_score(y_train, enet_cv.predict(X_train)))
print()
print("Test Results")
print('rmse:', np.sqrt(mean_squared_error(y_test, y_pred)))
print('r2: ', r2_score(y_test, y_pred))
print()

# print('\nKatsayilar:\n')
# print('ß0: ', enet_cv.intercept_)
# print(pd.Series(enet_tuned.coef_, index = X_train.columns))

In [ ]:
coefs_df = pd.DataFrame(enet_tuned.coef_, index=X.columns)
coefs_df = coefs_df.rename(columns={0: "Coefficents"})

In [ ]:
len(coefs_df)

In [ ]:
len(coefs_df[coefs_df["Coefficents"]>0])

In [ ]:
coefs_df[coefs_df["Coefficents"]>0]